In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
df = pd.read_csv('zip_code_market_tracker.csv')

In [3]:
df.columns

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')

In [4]:
df['zipcode'] = df['region'].apply(lambda x: re.search(r'\d{5}', x).group() if re.search(r'\d{5}', x) else None)

# 设定 Seattle-Tacoma-Bellevue 地区的邮政编码列表
seattle_zipcodes = ['98101', '98102', '98103', '98104', '98105', '98106', '98107', '98108', '98109', '98110', 
                    '98111', '98112', '98113', '98114', '98115', '98116', '98117', '98118', '98119', '98121', 
                    '98122', '98124', '98125', '98126', '98127', '98129', '98131', '98132', '98133', '98134', 
                    '98136', '98138', '98139', '98141', '98144', '98145', '98146', '98148', '98154', '98155', 
                    '98158', '98160', '98161', '98164', '98166', '98168', '98170', '98174', '98175', '98177', 
                    '98178', '98181', '98185', '98188', '98190', '98191', '98195', '98198', '98199']

# 过滤只保留 Seattle-Tacoma-Bellevue 的数据
seattle_df = df[df['zipcode'].isin(seattle_zipcodes)]

In [5]:
seattle_df

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated,zipcode
132,12/1/15,2/29/16,90,zip code,2,40832,f,Zip Code: 98119,NaN,Washington,...,NaN,NaN,NaN,0.652174,-0.014493,-0.247826,"Seattle, WA",42644,7/15/24 17:39,98119
322,9/1/19,11/30/19,90,zip code,2,40860,f,Zip Code: 98166,NaN,Washington,...,NaN,NaN,NaN,0.428571,-0.071429,0.165414,"Seattle, WA",42644,7/15/24 17:39,98166
806,4/1/18,6/30/18,90,zip code,2,40848,f,Zip Code: 98144,NaN,Washington,...,NaN,NaN,NaN,0.750000,-0.250000,0.125000,"Seattle, WA",42644,7/15/24 17:39,98144
1133,8/1/14,10/31/14,90,zip code,2,40842,f,Zip Code: 98133,NaN,Washington,...,NaN,NaN,NaN,0.369231,-0.138016,-0.130769,"Seattle, WA",42644,7/15/24 17:39,98133
1747,3/1/13,5/31/13,90,zip code,2,40854,f,Zip Code: 98155,NaN,Washington,...,NaN,NaN,NaN,1.000000,NaN,NaN,"Seattle, WA",42644,7/15/24 17:39,98155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046289,3/1/20,5/31/20,90,zip code,2,40848,f,Zip Code: 98144,NaN,Washington,...,NaN,NaN,NaN,0.666667,0.076923,0.148810,"Seattle, WA",42644,7/15/24 17:39,98144
1046369,8/1/16,10/31/16,90,zip code,2,40876,f,Zip Code: 98198,NaN,Washington,...,NaN,NaN,NaN,0.419355,-0.187788,-0.009217,"Seattle, WA",42644,7/15/24 17:39,98198
1047583,10/1/14,12/31/14,90,zip code,2,40842,f,Zip Code: 98133,NaN,Washington,...,NaN,NaN,NaN,0.400000,0.000000,0.400000,"Seattle, WA",42644,7/15/24 17:39,98133
1047731,1/1/22,3/31/22,90,zip code,2,40854,f,Zip Code: 98155,NaN,Washington,...,NaN,NaN,NaN,0.800000,-0.200000,-0.200000,"Seattle, WA",42644,7/15/24 17:39,98155
1047965,4/1/23,6/30/23,90,zip code,2,40866,f,Zip Code: 98177,NaN,Washington,...,NaN,NaN,NaN,0.689655,-0.092954,-0.045639,"Seattle, WA",42644,7/15/24 17:39,98177

In [9]:
seattle_df.to_csv('seattle_house.csv', index=False)

In [8]:
# 保留所需的字段
selected_columns = [
    'period_begin', 'period_end', 'region_type', 'zipcode', 'state', 'state_code',
    'property_type', 'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
    'median_list_price', 'median_list_price_mom', 'median_list_price_yoy'
]

# 如果有租金数据字段，可以添加如下字段
# selected_columns += ['median_rent_price', 'median_rent_price_mom', 'median_rent_price_yoy']

# 选择所需的列
filtered_data = seattle_df[selected_columns]

# 查看前几行数据以确认选择是否正确
print(filtered_data.head())

# 将过滤后的数据保存到新的CSV文件
filtered_data.to_csv('seattle_median_house_price.csv', index=False)

     period_begin period_end region_type zipcode       state state_code  \
132       12/1/15    2/29/16    zip code   98119  Washington         WA
322        9/1/19   11/30/19    zip code   98166  Washington         WA
806        4/1/18    6/30/18    zip code   98144  Washington         WA
1133       8/1/14   10/31/14    zip code   98133  Washington         WA
1747       3/1/13    5/31/13    zip code   98155  Washington         WA

                  property_type  median_sale_price  median_sale_price_mom  \
132             All Residential           690000.0               0.007299
322   Single Family Residential           728500.0               0.112214
806                 Condo/Co-op           356500.0              -0.024957
1133            All Residential           345000.0               0.000000
1747    Multi-Family (2-4 Unit)           460000.0              -0.089109

      median_sale_price_yoy  median_list_price  median_list_price_mom  \
132                0.352941           689475.0              -0.034991
322                0.296263           650000.0              -0.071395
806                0.014225           404475.0               0.057451
1133               0.077957           339950.0               0.002802
1747               0.393517           283500.0              -0.319736

      median_list_price_yoy
132                0.255874
322                0.085142
806                0.244634
1133               0.033597
1747              -0.258824